<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팜스토리::찾아오시는길</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=75f3260554e60660733f28bdfad8898d"></script>
    <script>
	    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
	    var options = { //지도를 생성할 때 필요한 기본 옵션
	    	center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
	    	level: 3 //지도의 레벨(확대, 축소 정도)
	    };
	
	    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
    </script>
</head>
<body>
    <div id="wrapper">
    
        <!-- header -->
        <th:block th:include="@{_header.html}"/>

        <div id="sub">
            <div><img src="../img/sub_top_tit1.png" alt="INTRODUCTION"></div>
            <section class="cate1">
                <aside>
                    <img src="../img/sub_aside_cate1_tit.png" alt="팜스토리 소개"/>

                    <ul class="lnb">
                        <li><a th:href="@{/introduction/hello}">인사말</a></li>
                        <li class="on"><a th:href="@{/introduction/direction}">찾아오시는 길</a></li>
                    </ul>

                </aside>
                <article>
                    <nav>
                        <img src="../img/sub_nav_tit_cate1_tit2.png" alt="찾아오시는길"/>
                        <p>
                            HOME > 팜스토리소개 > <em>찾아오시는길</em>
                        </p>
                    </nav>

                    <!-- 내용 시작 -->
					<div id="map" style="width:500px;height:400px;"></div>

                    <!-- 내용 끝 -->

                </article>
            </section>

        </div>
        
        
        <!-- footer -->
        <th:block th:include="@{_footer.html}"/>
    </div>
</body>
</html>