<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>K마켓::대한민국 1등 온라인 쇼핑</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product/product.css}"/>
    <script>
    	$(function () {
			$('.sort > li > a').click(function (e) {
				/*
				e.preventDefault()
				let id = $(this).attr('id')
				console.log(id)
				
				$.ajax({
					url:'',
					type:'get',
					data:jsonData,
					dataType:'json',
					success: function () {
						
					}
				})
				*/
				
				
				
			})
		})
    </script>
  </head>
  <body>
    <div id="wrapper">
    	<!-- header -->
    	<th:block th:include="@{_header.html}"/>
      <main>        
        <aside>
          	<!-- 카테고리 -->
            <th:block th:include="@{_category.html}"/>
        </aside>
        
        <!-- 상품검색 화면 시작 -->
        <section id="product" class="search">

          <!-- 제목, 페이지 네비게이션 -->
          <nav>
            <h1>상품 검색 결과</h1>
            <p>
              HOME > <span>상품검색</span> > <strong>검색키워드</strong>
            </p>
          </nav>

          <!-- 검색결과 그룹박스 -->
          <div class="group">
            <h3><strong>셔츠</strong>검색결과 <em>(총&nbsp;:&nbsp;<span>20</span>&nbsp;건)</em></h3>
            <form th:action="@{/product/search}" method="post">
              <input type="text" name="keyword"/>
              <input type="submit" value="검색"/>
              <span>
                  <label><input type="checkbox" name="chk" value="상품명">상품명</label>
                  <label><input type="checkbox" name="chk" value="상품설명">상품설명</label>
                  <label><input type="checkbox" name="chk" value="상품가격">상품가격</label>
                  <input type="text" name="min"/>원&nbsp;~&nbsp;<input type="text" name="max"/>원
              </span>
            </form>
            <p class="info">
              상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 전체에서 검색합니다.<br>
              검색어는 최대 30글자까지, 여러개의 검색어를 공백으로 구분하여 입력 할수 있습니다.
            </p>
          </div>

		<!-- 정렬 메뉴 -->
		<ul class="sort">
        	<li><a id="high_sell" th:href="@{/product/search(keyword=${keyword}, order=1)}" th:classappend="${order} == 1 ? on">판매많은순</a></li>
        	<li><a id="low_price" th:href="@{/product/search(keyword=${keyword}, order=2)}" th:classappend="${order} == 2 ? on">낮은가격순</a></li>
            <li><a id="high_price" th:href="@{/product/search(keyword=${keyword}, order=3)}" th:classappend="${order} == 3 ? on">높은가격순</a></li>
            <li><a id="high_grade" th:href="@{/product/search(keyword=${keyword}, order=4)}" th:classappend="${order} == 4 ? on">평점높은순</a></li>
            <li><a id="high_review" th:href="@{/product/search(keyword=${keyword}, order=5)}" th:classappend="${order} == 5 ? on">후기많은순</a></li>
			<li><a id="latest_reg" th:href="@{/product/search(keyword=${keyword}, order=6)}" th:classappend="${order} == 6 ? on">최근등록순</a></li>
		</ul>

          <!-- 검색목록 -->
          <table border="0">                  
            <tr th:each="product:${products}">
                  <td><a th:href="@{/product/view(pid=${product.pid})}" class="thumb">
                  <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb1})}" alt="상품이미지"></a>
                  </td>
                  <td>
                    <h3 class="name">[[${product.name}]]</h3>
                    <a href="#" class="desc">[[${product.desc}]]</a>
                  </td>
                  <td>
                    <ul>
                      <li><ins class="dis-price">[[${product.salePrice}]]</ins></li>
                      <li>
                        <del class="org-price">[[${product.price}]]</del>
                        <span class="discount">[[${product.discount}]]%</span>
                      </li>
                      <li><span th:if="${product.delivery == 0}" class="free-delivery">무료배송</span>
                      <span th:if="${product.delivery != 0}">[[${product.delivery}]]원</span></li>
                    </ul>
                  </td>
                  <td>
                    <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.company}]]</h4>
                    <h5 class="badge power">판매자등급</h5>
                    <h6 th:if="${product.score == 1}" class="rating star1">상품평</h6>
                    <h6 th:if="${product.score == 2}" class="rating star2">상품평</h6>
                    <h6 th:if="${product.score == 3}" class="rating star3">상품평</h6>
                    <h6 th:if="${product.score == 4}" class="rating star4">상품평</h6>
                    <h6 th:if="${product.score == 5}" class="rating star5">상품평</h6>
                  </td>
                </tr>
          </table>

          <!-- 상품목록 페이지번호 -->
          <div class="paging">
            <span class="prev">
              <a href="#"><&nbsp;이전</a>
            </span>
            <span class="num">
              <a href="#" class="on">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
            </span>
            <span class="next">
              <a href="#">다음&nbsp;></a>
            </span>
          </div>
          
        </section>
        <!-- 상품검색 화면 끝 -->

      </main>
      <!-- footer -->
	  <th:block th:include="@{_footer.html}"/>
      <button type="button" id="top">상단이동</button>
    </div>
  </body>
</html>
