<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>member/list</title>
</head>
<body>
	<h3>member/list</h3>
	<a th:href="@{/member/register}">등록하기</a>
	<table border="1">
		<tr>
			<td>아이디</td>
			<td>이름</td>
			<td>휴대폰</td>
			<td>직급</td>
			<td>부서</td>
			<td>입사일</td>
			<td>관리</td>
		</tr>
		<tr th:each="member:${members}">
			<td>[[${member.uid}]]</td>
			<td th:text="${member.name}">홍길동</td>
			<td th:text="${member.hp}">010-1212-1212</td>
			<td th:text="${member.pos}">직급</td>
			<td th:text="${member.dep}">부서</td>
			<td th:text="${#strings.substring(member.rdate, 0, 11)}">입사일</td>
			<td>
				<a th:href="@{/member/modify?(uid=${member.uid})}">수정</a>
				<a th:href="@{/member/delete?(uid=${member.uid})}">삭제</a>
			</td>
		</tr>
	</table>
</body>
</html>