<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>hello</title>
</head>
<body>
	<h3>Spring MVC 실습</h3>
	<h1>hello</h1>
	
	<a href="/Ch04/hello">hello</a>
	<a href="/Ch04/welcome">welcome</a>
	<a href="/Ch04/greeting">greeting</a>
	<a href="/Ch04/redirect">redirect</a>
	<a href="/Ch04/forward">forward</a>
	
	<h1>sub1</h1>
	
	<a href="/Ch04/sub1/hello">hello</a>
	<a href="/Ch04/sub1/welcome">welcome</a>
	<a href="/Ch04/sub1/greeting">greeting</a>

	<h1>sub2</h1>
	
	<a href="/Ch04/sub2/hello">hello</a>
	<a href="/Ch04/sub2/welcome">welcome</a>
	<a href="/Ch04/sub2/greeting">greeting</a>

	<h1>sub3</h1>
	
	<a href="/Ch04/sub3/hello">hello</a>
	<a href="/Ch04/sub3/welcome">welcome</a>
	<a href="/Ch04/sub3/greeting">greeting</a>
	
	
</body>
</html>