<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:inline="javascript">
    	//공지사항 글쓰기 권한 확인
    	$(function write() {
    		/*<![CDATA[*/ 
			let grade = /*[[${grade}]]*/ 
			/*]]*/
			
			if(grade >= 2){
				alert('공지사항 글쓰기 권한이 없습니다.')
			}
		})

    </script>
</head>
<body>
    <div id="wrapper">
    	<th:block th:include="/_header.html"/>
    	<th:block th:include="/board/inc/__${cate}__.html"/>
        <section id="board" class="list">
            <h3>글목록</h3>
            <article>
                <p th:if="${sessUser != null}">
                    [[${sessUser.nick}]]님 반갑습니다.
                    <a th:href="@{/user/logout}" class="logout">[로그아웃]</a>
                </p>
                <p th:unless="${sessUser != null}">
                    로그인 후 이용해주세요.
                    <a th:href="@{/user/logout}" class="logout">[로그인]</a>
                </p>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>
                    <tr th:each="article,i:${articles}">
                        <td th:text="${pageStartNum - i.index}">1</td>
                        <td><a th:text="${article.title}" th:href="@{/board/view(no=${article.no}, cate=${cate}, type=${type})}">제목입니다.</a>&nbsp;［[[${article.comment}]]］</td>
                        <td th:text="${article.user.nick}">길동이</td>
                        <td th:text="${#strings.substring(article.rdate, 2, 10)}">22-04-25</td>
                        <td th:text="${article.hit}">12</td>
                    </tr>
                </table>
            </article>

            <!-- 페이지 네비게이션 -->
            <div class="paging">
            	<th:block th:if="${groups[0] > 1}">
                	<a th:href="@{/board/list(cate=${cate}, type=${type}, pg=${groups[0] - 1})}" class="prev">이전</a>
                </th:block>
                
                <th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
                	<a th:href="@{/board/list(cate=${cate}, type=${type}, pg=${num})}" th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>       
                </th:block>
                
                <th:block th:if="${groups[1] < lastPageNum}">
                	<a th:href="@{/board/list(cate=${cate}, type=${type}, pg=${groups[1] + 1})}" class="next">다음</a>
                </th:block>
            </div>

            <!-- 글쓰기 버튼 -->
            <a th:href="@{/board/write(cate=${cate}, type=${type})}" class="btnWrite">글쓰기</a>

        </section>
    	<!-- 내용 끝 -->
		</article>
		</section>
        </div>
    	<th:block th:include="/_footer.html"/>
    </div>    
</body>
</html>